.cards-container .cards-wrapper {
  margin-top: var(--spacing-xbig);
    margin-bottom: 80px;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: var(--spacing-medium);
}

.cards .cards-card-body {
    background-color: #38b6abe6;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  object-fit: cover;
}

.cards li {
    position: relative;
    overflow: hidden;
}

.cards-card-image img {
    display: block;
    width: 100%;
    height: auto;
}

.cards-card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

.cards-card-body p {
    margin: 0;
}