.columns-green > div {
    display: flex;
    flex-direction: column;
    background-color: var(--color-solera-green);
    background-image: url('https://drive.usercontent.google.com/download?id=15jIOmwVdw7t6D-hZ9I9xyxaBCsHMH7T0&export=view&authuser=0');
    background-size: cover;
    background-position: center;
    color: white;
}


.columns-green img {
    width: 100%;
}

.columns-green > div > div {
    order: 1;
}

.columns-green > div > .columns-green-img-col {
    order: 0;
}

.columns-green > div > .columns-green-img-col img {
    display: block;
}

@media (width >= 900px) {
    .columns-green > div {
        align-items: center;
        flex-direction: row;
    }

    .columns-green > div > div {
        flex: 1;
        order: unset;
    }

    .columns-green > div > div:not(.columns-green-img-col) {
        padding: 24px;
    }

    .columns-green > div > .columns-green-img-col {
        flex: 2;
        order: unset;
    }
}
